

body{
    background-image: url('medusa.jpg');
    padding: 20px;
    background-size: cover
    



   
}
.spotlight{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-image:radial-gradient(circle, transparent 0px,rgba(0,0,0,0.75)0px);

}

h1{
color:wheat;
text-align: center;
text-decoration:solid;
text-decoration-line: underline;
font-family: 'GFS Didot', cursive;
font-size: 1cm;



}

p{
font-family: monospace;
font-size: larger;
color: wheat;

}



